rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Правила для коллекции пользователей
    // Разрешаем пользователю читать и изменять только свой документ.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Коллекция для объявлений на доске
    match /board/{itemId} {
      // Любой может просматривать объявления
      allow read: if true;

      // Создавать объявления могут только авторизованные пользователи.
      // При этом ID пользователя в документе должно совпадать с ID автора запроса.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

      // Обновлять и удалять объявление может только его владелец.
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Оставляем старое правило для других коллекций на время разработки.
    // ВАЖНО: Перед запуском проекта в открытый доступ его нужно изменить или удалить.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2025, 10, 6);
    }
  }
}
